name: Build and test [CI]

on:
  push:
    branches: [master, develop, feature/*, bugfix/*]
  pull_request:
    branches: [master, develop]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      buildConfiguration: "Release"
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -p:TreatWarningsAsErrors=true --configuration Release
      - name: Test
        run: dotnet test --configuration Release
        working-directory: ./
